<section class="breadcrumb-section">
  <div class="container">
    <div class="section-title col-12">
      <p>
        {{ title }} <span>{{ subtitle }}</span>
      </p>
    </div>
  </div>
</section>

<!-- ******************************************************************* -->
<!-- <section class="breadcrumb-section">
  <div class="intro-container section-header">
    <div class="photo">
      <img [src]="img" alt="{{ img }}" />
      <div class="overlay">
        <p>
          {{ title }} <span>{{ subtitle }}</span>
        </p>
      </div>
    </div>
  </div>
</section> -->

<!-- ******************************************************************* -->
<!-- <section class="breadcrumb-section">
  <div class="overlay-intro"></div>
  <div class="intro-container">
    <div class="section-header">
      <p>
        {{ title }} <span>{{ subtitle }}</span>
      </p>
    </div>
  </div>
</section> -->
