.breadcrumb-section {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  margin-top: 20px;
  margin-bottom: 20px;

  & .overlay-intro {
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 115px;
    left: 0px;
    padding: 0;
    height: 252px;
    width: 100%;
    opacity: 2;
  }
  & .intro-container {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
  }
}
