<app-breadcrumb
  [title]="'¿Necesitas ayuda?'"
  [subtitle]="'Contacta conmigo'"
  [img]="'assets/img/mancuernas5.jpg'"
></app-breadcrumb>
<section id="contact" class="contact">
  <div class="container">
    <!-- <div class="section-header">
      <p>¿Necesitas ayuda? <span>Contacta conmigo</span></p>
    </div> -->

    <div class="flex flex-column md:flex-row pb-5">
      <div
        class="col-12 md:col-6 flex flex-column justify-content-center gap-3"
      >
        <div
          class="flex flex-row justify-content-center align-items-center w-full gap-3"
          *ngFor="let info of infoList"
        >
          <i [class]="info.icon" ngClass="icon"></i>
          <div class="flex flex-column justify-content-start w-full">
            <span class="font-bold text-white">{{ info.title }}</span>
            <span class="text-white" [hidden]="info.title === 'Instagram'">{{
              info.text
            }}</span>
            <div class="flex flex-row gap-2" *ngIf="info.title === 'Instagram'">
              <a
                class="insta-account"
                href="https://www.instagram.com/7danielgarcia/"
                target="_blank"
              >
                @7danielgarcia
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 md:col-6 flex flex-column gap-2">
        <input pInputText placeholder="Nombre" class="w-full" />
        <input pInputText placeholder="Email" class="w-full" />
        <input pInputText placeholder="Teléfono" class="w-full" />
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          class="w-full"
          placeholder="Escribe tu mensaje"
        ></textarea>
        <p-button label="Enviar" class="btn-primary"></p-button>
      </div>
    </div>
  </div>
</section>
<!-- End Contact Section -->
