<app-breadcrumb
  [title]="'¿Necesitas ayuda?'"
  [subtitle]="'Contacta conmigo'"
  [img]="'assets/img/mancuernas5.jpg'"
></app-breadcrumb>
<section id="contact" class="contact">
  <div class="container">
    <div class="info-container flex flex-column md:flex-row">
      <div class="photo flex flex-column lg:hidden col-6">
        <img src="assets/img/chefs/chefs-1.jpg" />
      </div>
      <div class="flex flex-column col-12 md:col-6 lg:col-12 lg:flex-row">
        <div class="info col-12 lg:col-4" *ngFor="let info of infoList">
          <i [class]="info.icon" ngClass="icon"></i>
          <div class="info-text">
            <span class="font-bold text-white">{{ info.title }}</span>
            <span class="text-white" [hidden]="info.title === 'Instagram'">{{
              info.text
            }}</span>
            <div class="flex flex-row gap-2" *ngIf="info.title === 'Instagram'">
              <a
                class="insta-account"
                href="https://www.instagram.com/7danielgarcia/"
                target="_blank"
              >
                @7danielgarcia
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="flex flex-column lg:flex-row">
      <div class="photo hidden lg:flex lg:flex-column col-12 lg:col-4">
        <img src="assets/img/chefs/chefs-1.jpg" />
      </div>
      <div class="form col-12 lg:col-8">
        <h4 class="uppercase uWhite text-2xl">Formulario de contacto</h4>
        <input pInputText placeholder="Nombre" class="w-full" />
        <input pInputText placeholder="Email" class="w-full" />
        <textarea
          rows="5"
          cols="30"
          pInputTextarea
          class="w-full"
          placeholder="Escribe tu mensaje"
        ></textarea>
        <p-button label="Enviar" class="btn--fw btn-primary"></p-button>
      </div>
    </div>
  </div>
</section>
