/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

// :host ::ng-deep .p-carousel .p-link {
//   color: var(--color-primary) !important;
//   &:focus {
//     box-shadow: none;
//   }
//   &:hover {
//     color: var(--color-white) !important;
//     background-color: var(--color-primary) !important;
//   }
// }

// :host
//   ::ng-deep
//   .p-carousel
//   .p-carousel-indicators
//   .p-carousel-indicator.p-highlight
//   button {
//   background-color: var(
//     --color-primary
//   ) !important; /* Cambia este color según tus preferencias */
// }

.trainer-info {
  p {
    color: #c4c4c4;
  }
}

img {
  width: 50%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 100%; /* Altura deseada para la imagen */
  object-fit: cover; /* Corta la imagen para que cubra completamente el contenedor */
}
