<!-- ======= About Section ======= -->
<section id="about" class="about">
  <div class="container">
    <div class="section-header">
      <p>Aprende más <span>sobre mí</span></p>
    </div>

    <div class="md:flex flex-row justify-content-between">
      <div class="col-12 md:col-6">
        <h4 class="uppercase uWhite text-2xl my-3">Daniel García Lanzas</h4>
        <span class="uPrimary">Entrenador personal</span>
        <p class="text-justify">
          Soy Daniel García, mi principal objetivo es inspirarte y ayudarte
          mediante mi disciplina, mentalidad y conocimientos.
        </p>
        <p class="text-justify">
          Cuando empecé a tener contacto con el mundo de los gimnasios, mi
          objetivo era convertir mi físico (compuesto por una mala alimentación
          y malos hábitos) en el de un atleta. Al lograrlo, no solo he podido
          transformar mi físico sino que además ha cambiado mi forma de ver la
          vida. No somos conscientes del poder que puede llegar a tener la mente
          sobre el cuerpo humano.
        </p>
        <p class="text-justify">
          Durante todo mi proceso de cambio siempre confié en mí mismo, en el
          potencial físico y mental que tengo. Esto es uno de los ámbitos que
          intento enseñar a mis clientes. Todo este aprendizaje ha contribuido a
          dar forma a la filosofía que practico en la actualidad e intento
          plasmar a todo mi entorno.
        </p>

        <p class="text-justify">
          Cuando se lleva a cabo un proceso de este calibre, pienso que no es
          solo un cambio físico, es algo que mejorará tu vida para siempre. Por
          eso, mi objetivo es ayudar al máximo número de personas para que sean
          capaces de conocer su verdadero potencial y poder mejorar sus vidas.
        </p>
      </div>
      <div class="col-12 md:col-6 flex align-items-center">
        <p-carousel
          [value]="slides"
          [numVisible]="1"
          [numScroll]="1"
          [circular]="false"
          [responsiveOptions]="responsiveOptions"
        >
          <ng-template let-item pTemplate="item">
            <img [src]="item.img" width="100%" />
          </ng-template>
        </p-carousel>
      </div>
    </div>
  </div>
</section>
<!-- End About Section -->

<!-- <ul class="trainer-info col-6">
                <li><span>Edad</span>35</li>
                <li><span>Peso</span>148lbs</li>
                <li><span>Altura</span>10' 2``</li>
              </ul> -->
