/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.trainer-info {
  & h4 {
    position: relative;
    padding-left: 12px;
    line-height: 26px;
    &:before {
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 29px;
      background: var(--color-primary);
      content: "";
    }
  }
  p {
    color: var(--color-lightgray);
  }
}

img {
  width: 50%; /* La imagen ocupará el 100% del ancho del contenedor */
  height: 100%; /* Altura deseada para la imagen */
  object-fit: cover; /* Corta la imagen para que cubra completamente el contenedor */
}

// us section

.us_section {
  background-image: url("../../../assets/img/hero-breadcrumb.jpg");
  background-size: cover;
  background-position: center;
  color: #ffff;
  & .heading_container h2 {
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 46px;
    position: relative;
    text-align: center;
    &:before {
      position: absolute;
      width: 100px;
      height: 3px;
      right: 0;
      left: 0;
      top: 49px;
      margin: 0 auto;
      background: var(--color-white);
      content: "";
    }
  }

  .us_container {
    display: flex;

    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      margin: 25px 10px 0 10px;

      .img-box {
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 100%;
        }
      }

      .detail-box {
        h5 {
          font-weight: bold;
        }
      }
    }
  }
}

// end us section
