<!-- ======= Team Section ======= -->
<section id="team" class="team">
  <div class="container">
    <div class="section-header">
      <p>Nuestros <span>Profesionales</span></p>
    </div>

    <div class="grid justify-content-center">
      <div class="col-12 md:col-4 text-center" *ngFor="let member of members">
        <p-card header="{{ member.name }}" subheader="{{ member.role }}">
          <ng-template pTemplate="header">
            <img alt="Card" [src]="member.img" />
          </ng-template>
          <p class="m-0 text-justify">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore
            sed consequuntur error repudiandae numquam deserunt quisquam
            repellat libero asperiores earum nam nobis, culpa ratione quam
            perferendis esse, cupiditate neque quas!
          </p>
        </p-card>
      </div>
    </div>
  </div>
</section>
<!-- End Team Section -->
