.steps {
  // background-image: url("../../../assets/img/hero-breadcrumb.jpg");
  // background-size: cover;
  // background-position: center;
  background-color: black;
  color: #ffff;
  & .heading_container h2 {
    font-weight: 600;
    color: var(--color-white);
    margin-bottom: 46px;
    position: relative;
    text-align: center;
    font-family: var(--font-secondary);

    &:before {
      position: absolute;
      width: 100px;
      height: 3px;
      right: 0;
      left: 0;
      top: 49px;
      margin: 0 auto;
      background: var(--color-primary);
      content: "";
    }
  }

  .steps_container {
    display: flex;
    .box {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      .img-box {
        height: 190px;
        img {
          height: 190px;
          max-width: 100%;
        }
      }
      .detail-box {
        h3 {
          font-weight: bold;
          text-transform: uppercase;
          position: relative;
          padding-left: 12px;
          line-height: 26px;
          &:before {
            position: absolute;
            left: 0;
            top: 0;
            width: 3px;
            height: 29px;
            background: var(--color-primary);
            content: "";
          }
        }
      }
    }
  }
}

.contact {
  h2 {
    text-transform: uppercase;
    line-height: 1.2;
    font-size: 48px;
    color: var(--color-white);
    span {
      line-height: 1;
      color: var(--color-primary);
      display: inline-block;
      padding: 0.3rem;
      margin-top: 5px;
    }
  }
  p {
    font-size: 16px;
    //color: var(--color-lightgray);
    color: var(--color-white);
    line-height: 2;
    margin-bottom: 50px;
    span {
      font-style: italic;
      border-left: 2px solid var(--color-primary);
      padding-left: 10px;
      margin: 10px 0;
      color: var(--color-lightgray);
    }
  }
}

@media screen and (max-width: 1130px) {
  .contact {
    h2 {
      font-size: 40px;
    }
  }
}

// end us section

// .classes-section {
//   padding: 121px 0;
// }

// .classes-section .section-title h2 {
// }

// .contact h2 span {
// }

// .classes-text {
//   padding-right: 20px;
// }

// .classes-text p {
//   margin-bottom: 50px;
// }
