<app-breadcrumb
  [title]="'Mis'"
  [subtitle]="'Servicios'"
  [img]="'assets/img/mancuernas5.jpg'"
></app-breadcrumb>
<section id="services" class="services">
  <div class="container pt-3 lg:pt-0 flex justify-content-center">
    <div
      class="service-container flex flex-column gap-5 lg:gap-2 lg:flex-row lg:col-11"
    >
      <div
        class="lg:col-4 plan"
        *ngFor="let plan of plans"
        (click)="seleccionarPlan(plan)"
      >
        <p-card
          header="{{ plan.title }}"
          [ngClass]="plan?.active ? 'selected' : ''"
        >
          <!-- <ng-template pTemplate="header">
            <div>
              <h3>{{ plan.title }}</h3>
            </div>
          </ng-template> -->
          <div class="item" *ngFor="let item of plan?.items">
            <div class="icon">
              <i class="pi pi-check success" *ngIf="item.include"></i>
              <i class="pi pi-times error" *ngIf="!item.include"></i>
            </div>
            <div class="text">
              <span>{{ item.text }}</span>
            </div>
          </div>
          <ng-template pTemplate="footer">
            <p-button
              *ngIf="plan?.active"
              label="Más información"
              routerLink="/contact"
            ></p-button>
          </ng-template>
        </p-card>
      </div>
    </div>
  </div>
</section>

<section class="steps">
  <div class="container">
    <div class="heading_container">
      <h2>¿En qué consisten mis planes?</h2>
    </div>
    <div class="steps_container grid flex-column md:flex-row">
      <div class="box col-12 md:col-6 lg:col-3" *ngFor="let step of services">
        <div class="img-box">
          <img [src]="step.img" alt="" />
        </div>
        <div class="detail-box">
          <h3>{{ step?.title }}</h3>
          <p>
            {{ step?.description }}
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="contact flex flex-column lg:flex-row">
    <div class="col-12 lg:col-6">
      <div class="section-title">
        <h2 class="text-2xl md:text-6xl">
          ¿Necesitas un <br /><span>Entrenador Personal</span>?<br />
          Contacta conmigo.
        </h2>
      </div>
    </div>
    <div class="col-12 lg:col-6">
      <div class="classes-text">
        <p>
          ¿Quieres dar el primer paso hacia tu nueva versión? Deja que te ayude
          a conseguirlo proporcionándote el plus de energía y motivación que
          necesitas y haciéndote ver el potencial que realmente tienes. Dejarás
          a un lado todos esos miedos e inseguridades para que nunca más vuelvan
          salir y despertarás cada mañana sintiéndote satisfecho de tu
          transformación, totalmente lleno de energía y confianza para seguir
          cambiando tu vida.
          <br />
          <span>
            Todo cambio empieza por una simple elección: ALGÚN DÍA o DÍA 1, TÚ
            DECIDES
          </span>
        </p>

        <p-button
          class="btn-primary"
          label="Contacta conmigo"
          routerLink="/contact"
        ></p-button>
      </div>
    </div>
  </div>
</section>
