<!-- ======= Services Section ======= -->
<section id="services" class="services">
  <div class="container">
    <div class="section-header">
      <p>Nuestros <span>servicios</span></p>
    </div>

    <div class="grid">
      <div
        class="col-12 sm:col-6 lg:col-3 text-center cursor-pointer card"
        *ngFor="let service of services"
      >
        <div class="class-item">
          <div class="ci-pic">
            <img [src]="service.img" alt="" />
          </div>

          <div class="ci-text">
            <h4>{{ service.title }}</h4>
            <div class="text-justify">
              <span>{{ service.description }}</span>
            </div>
          </div>
        </div>

        <!-- <p-card header="{{ service.title }}">
          <ng-template pTemplate="header">
            <div class="rounded-icon">
              <i [class]="service.icon"></i>
            </div>
          </ng-template>
          <p class="m-0">
            {{ nservice.descriptio }}
          </p>
        </p-card> -->
      </div>
    </div>
  </div>
</section>
<!-- End Services Section -->
