<!-- <p-menubar [model]="generalService.items" (click)="activeMenu($event)">
  <ng-template pTemplate="start">
    <div
      class="logo-header pb-0 cursor-pointer flex flex-row"
      routerLink="/home"
    >
      <p>DGL <span>TRAINER</span></p>
    </div>
  </ng-template>

  <ng-template pTemplate="end">
    <div class="flex flex-row justify-content-center align-items-center w-full">
      <p-button
        icon="pi pi-instagram"
        styleClass="p-button-rounded p-button-warning p-button-text"
        class=""
      ></p-button>
      <p-button
        icon="pi pi-twitter"
        styleClass="p-button-rounded p-button-info p-button-text"
      ></p-button>
    </div>
  </ng-template>
</p-menubar> -->

<div
  class="flex justify-content-between flex-row relative px-4 lg:px-8 pt-5 z-5 gap-8 md:gap-1"
>
  <div class="flex flex-row cursor-pointer zoom-animation" routerLink="/home">
    <img src="assets/img/Logo-DGL2.png" />
  </div>
  <div
    class="hidden lg:flex flex-column align-items-center justify-content-center"
  >
    <ul class="flex gap-5 align-items-center m-0 p-0 list-none">
      <li *ngFor="let item of generalService.items" class="relative menu-item">
        <a
          class="cursor-pointer flex align-items-center zoom-animation"
          [routerLink]="item?.routerLink"
          routerLinkActive="active"
          >{{ item?.label }}</a
        >
      </li>
    </ul>
  </div>
  <div class="hidden lg:flex align-items-center justify-content-center">
    <p-button
      icon="pi pi-instagram"
      styleClass="p-button-rounded p-button-warning p-button-text"
      class=""
    ></p-button>
    <p-button
      icon="pi pi-twitter"
      styleClass="p-button-rounded p-button-info p-button-text"
    ></p-button>
  </div>
  <div
    class="flex lg:hidden align-items-center justify-content-center cursor-pointer text-white-alpha-90 zoom-animation"
    (click)="toggleMenu(); menu.toggle($event)"
  >
    <span class="pi pi-bars"></span>
  </div>
</div>

<div class="w-full">
  <!-- <p-overlayPanel #menu>
    <div class="overlay"></div>
  </p-overlayPanel> -->
  <p-menu
    #menu
    [model]="generalService.items"
    [popup]="true"
    routerLinkActive="active"
    (click)="activeMenu($event)"
  ></p-menu>
</div>
