<div
  class="navbar fixed-top px-4 lg:px-8 py-3 z-5 gap-8 md:gap-1"
  [ngClass]="isNavbarScrolled ? 'fixed-nav' : ''"
>
  <!--  -->
  <div class="flex flex-row cursor-pointer zoom-animation" routerLink="/home">
    <img src="assets/img/Logo-DGL2.png" />
  </div>
  <div
    class="hidden lg:flex flex-column align-items-center justify-content-center"
  >
    <ul class="flex gap-5 align-items-center m-0 p-0 list-none">
      <li *ngFor="let item of generalService.items" class="menu-item">
        <a
          class="flex align-items-center zoom-animation"
          [routerLink]="item?.routerLink"
          routerLinkActive="active"
          >{{ item?.label }}</a
        >
      </li>
    </ul>
  </div>
  <div
    class="social-links hidden lg:flex align-items-center justify-content-center gap-3"
  >
    <div>
      <a class="pi pi-instagram uPrimary zoom-animation"></a>
    </div>
    <div>
      <a class="pi pi-twitter uBlue zoom-animation"></a>
    </div>
    <div class="user">
      <a class="pi pi-user uWhite zoom-animation"></a>
    </div>
  </div>
  <div class="flex lg:hidden align-items-center justify-content-center">
    <a
      class="pi pi-bars text-white-alpha-90 zoom-animation"
      (click)="toggleMenu(); menu.toggle($event)"
    ></a>
  </div>
</div>

<div class="w-full">
  <p-overlayPanel #menu>
    <ng-template pTemplate="content">
      <div>
        <ul class="flex flex-column align-items-center m-0 p-0 list-none">
          <li
            *ngFor="let item of generalService.items"
            class="menu-item menu-item--mobile"
          >
            <div>
              <a
                [routerLink]="item?.routerLink"
                routerLinkActive="active"
                (click)="activeMenu()"
                >{{ item?.label }}</a
              >
            </div>
          </li>
        </ul>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>
