.zoom-animation {
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}

img {
  width: 100%; /* La imagen ocupará el 100% del ancho del contenedor padre */
  max-width: 170px; /* No superará el tamaño natural de la imagen */
  min-width: 70px;
  height: auto; /* Mantendrá la proporción original de la imagen */
}

.menu-item {
  position: relative;
  & div {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-inline: 1rem;
  }
  & a {
    color: var(--color-white);
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    position: relative;
    transition: all 0.3s;
    &:hover {
      color: var(--color-primary);
    }
    &.active {
      color: var(--color-primary);
    }
  }
  &--mobile {
    width: 100%;
    a {
      color: var(--color-gray);
    }
  }
}
