<app-breadcrumb
  [title]="'Experiencia de'"
  [subtitle]="'nuestros clientes'"
  [img]="'assets/img/mancuernas5.jpg'"
></app-breadcrumb>
<section id="testimonials" class="testimonials">
  <div class="container">
    <p-carousel
      class="carousel"
      [value]="slides"
      [numVisible]="1"
      [numScroll]="1"
      [circular]="false"
      [responsiveOptions]="responsiveOptions"
    >
      <ng-template let-item pTemplate="item">
        <div class="item-container">
          <div class="flex justify-content-center">
            <img
              class="border-circle"
              [src]="item.img"
              alt="{{ item.img }}"
              width="10%"
            />
          </div>
          <div class="text">
            <h4>{{ item.title }}</h4>
            <p>
              Lorem Ipsum es simplemente el texto de relleno de las imprentas y
              archivos de texto. Lorem Ipsum ha sido el texto de relleno
              estándar de las industrias desde el año 1500, cuando un impresor
              (N. del T. persona que se dedica a la imprenta) desconocido usó
              una galería de textos y los mezcló de tal manera que logró hacer
              un libro de textos especimen.
            </p>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</section>
