/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.min.css";
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

:root {
  // --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto,
  //   "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
  //   "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  //--font-primary: "Amatic SC", sans-serif;
  --font-primary: "Oswald", sans-serif;
  --font-secondary: "Mulish", sans-serif;
  --font-logo: "Black Ops One", cursive;
}

/* Colors */
:root {
  --color-default: #212529;
  //--color-primary: #08aa19; //#ce1212;
  --color-primary: #f59e0b; //#7d153b; //#ce1212;
  --color-secondary: #7f7f90;
  --color-select: #f6f4f4;
  --color-black: black;
  --color-white: #ffff;
  --color-bg: #0a0a0a;
  --color-bg-light: #fafafa;
  --color-section: #151515;
  --color-gray: #495057;
}

/* Smooth scroll behavior */
:root {
  scroll-behavior: smooth;
}

:root {
  a {
    text-decoration: none;
  }
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body,
html {
  font-family: var(--font-secondary);
  color: var(--color-default);
  background-color: var(--color-section);
  height: 100%;
}

app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
li {
  font-family: var(--font-primary);
}

// .p-button {
//   background-color: var(--color-primary);
//   color: var(--color-white);
//   border: 0;
//   &:enabled:hover {
//     background-color: var(--color-primary);
//     color: var(--color-white);
//     box-shadow: 5px 5px 40px var(--color-primary);
//   }
// }

/*--------------------------------------------------------------
# Sections & Section Header
--------------------------------------------------------------*/

section {
  padding-top: 60px;
  margin-top: -60px;
  padding-left: 2rem !important;
  padding-right: 2rem !important;
}

.section-header {
  text-align: center;
  padding-bottom: 30px;
  padding-top: 30px;
}

.section-header p {
  margin: 0;
  font-size: 48px;
  font-weight: 600;
  font-family: var(--font-secondary);
  color: var(--color-white);
}

.section-header p span,
.logo-header p span {
  color: var(--color-primary);
}

/* Preloder */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

// COLORS
.uPrimary {
  color: var(--color-primary);
}
.uBlue {
  color: #3b82f6;
}
.uWhite {
  color: var(--color-white);
}

.p-overlaypanel {
  width: 100% !important;
  &:before,
  &:after {
    display: none;
  }
  & .p-overlaypanel-content {
    padding: 0;
  }
}

.zoom-animation {
  cursor: pointer;
  transition: transform 0.3s ease;
  &:hover {
    transform: scale(1.1);
  }
}
