<!-- ======= Hero Section ======= -->
<section id="hero" class="hero section-bg flex align-items-center">
  <div class="container">
    <div class="overlay-intro"></div>

    <div class="intro-container">
      <!-- <h2>Tu <span>cuerpo</span> logra lo que la mente cree</h2> -->
      <div class="col-6">
        <div class="hi-text">
          <!-- <span>Shape your body</span> -->
          <h2>
            Tu <strong>cuerpo</strong> logra lo que la
            <strong>mente</strong> cree
          </h2>
          <p-button
            label="Comienza tu cambio"
            styleClass="p-button-sm"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
