<!-- ======= Hero Section ======= -->
<section id="hero" class="hero section-bg flex align-items-center">
  <div class="container">
    <div class="overlay-intro"></div>

    <div class="intro-container md:flex md:justify-content-start">
      <div class="col-12 lg:col-6 flex flex-column justify-content-center">
        <div>
          <h2
            class="text-center text-5xl md:text-7xl font-bold uppercase mb-4 lg:text-left"
          >
            Tu <strong>cuerpo</strong> logra lo que la
            <strong>mente</strong> cree
          </h2>
        </div>
        <div class="flex justify-content-center lg:justify-content-start">
          <p-button
            label="Comienza tu cambio"
            styleClass="p-button-sm"
          ></p-button>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- End Hero Section -->
